{% extends 'core/base.html' %}


{% block title %}
  Editar
{% endblock title %}

{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center">Editar perfil</h1>
          {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="photo" class="form-label">Foto</label>
              <img class="w-100 my-3" style="height: 400px; object-fit: cover;" src="{{ user.photo.url }}" alt="foto usuário">
              <input type="file" class="form-control" id="photo" name="photo" accept="image/*" value="{{ user.photo.url }}">
              {% if form.photo.errors %}
                <div class="text-danger">
                  Foto é necessária
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <div class="form-control">{{ user.name }}</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
              {% if form.email.errors %}
                <div class="text-danger">
                  Email é necessário
                </div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" name="password" minlenght="8" value="{{ user.password }}">
              {% if form.password.errors %}
                <div class="text-danger">
                  Senha deve ter no mínimo 8 dígitos
                </div>
              {% endif %}
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn">Salvar</button>
                <a href="/" class="btn">Voltar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
{% endblock %}

