{% extends 'core/base.html' %}


{% block title %}
  Home
{% endblock title %}

{% block content %}
    <header>
      <nav class="d-flex justify-content-around align-items-center text-white">
          <div class="logo">🌱 EcoInfo</div>
          <div class="d-flex gap-2">
            Bem-vindo à Página Principal {{user.name}}
            <a class="link-light" href="{% url 'core:edit' id=user.id %}">Editar</a>
            <a class="link-light" href="/logout">Sair</a>
            {% if user.is_superuser and user.is_staff %}
              <a class="link-light" href="/admin">Administrador</a>
            {% endif %}
          </div>
      </nav>
    </header>
    {% if user.nivel_acesso == '1' %}
      {% include 'core/niveis/nivel1.html' %}
    {%elif user.nivel_acesso == '2' %}
      {% include 'core/niveis/nivel2.html' %}
    {%elif user.nivel_acesso == '3' %}
      {% include 'core/niveis/nivel3.html' %}
    {% endif %}

{% endblock %}
